In [22]:
# import Splinter andBeautifulSoup

from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# import pandas
import pandas as pd

In [23]:
# set up executable path
executable_path={"executable_path": ChromeDriverManager().install()}
browser=Browser("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Emily\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [24]:
#assign url and visit browser
url="https://redplanetscience.com/"
browser.visit(url)

#optional delay for loading the page
browser.is_element_present_by_css("div.list_text", wait_time=1)

True

In [25]:
# set up HTML parser
html=browser.html
news_soup=soup(html, "html.parser")
slide_elem=news_soup.select_one("div.list_text")

In [26]:
slide_elem.find("div", class_="content_title")

In [27]:
#use the parent element to find the first "a" tag and save it as `news_title`
news_title=slide_elem.find("div", class_="content_title").get_text()
news_title

'NASA Wins Two Emmy Awards for Interactive Mission Coverage'

In [28]:
news_p=slide_elem.find("div", class_="article_teaser_body").get_text()
news_p

"NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy."

### Featured Images

In [29]:
# set up the URL
url="https://spaceimages-mars.com/"

#visit URL
browser.visit(url)

In [30]:
#Find and click the full image button
full_image_elem=browser.find_by_tag("button")[1]
full_image_elem.click()

In [31]:
#Parse the resulting html with soup
html=browser.html
img_soup=soup(html, "html.parser")

In [32]:
# find the relative image url
image_url_rel=img_soup.find("img", class_="fancybox-image").get("src")
img_url_rel

'image/featured/mars2.jpg'

In [33]:
# use the base URL to create an absolute URL
img_url=f"https://spaceimages-mars.com/{img_url_rel}"
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [34]:
# copy a table's info from one page and place into application

In [37]:
# scrape the entire table using pandas' .read_html() function

# convert the html table into a pandas dataframe
# read_html() searches and returns all tables found in the HTML. index 0 means only return first table found
df=pd.read_html("https://galaxyfacts-mars.com/")[0]
df.columns=["description", "Mars", "Earth"]
df.set_index("description", inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [38]:
# convert pandas dataframe back into html
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [40]:
# end the automated browsing session.
browser.quit()

In [ ]:
# to fully automate the scrapting, need to convert to .py file

In [ ]:
# MongoDB is a non-relational database that stores data as JSON.
# this is more flexible than SQL, which is why we're using it.